/*Common styles*/

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;

}

/*common nav styles*/

.navigation-wrapper {
    height: 190px;
    background-color: #11122B;
    color: #cbcbcb;
    /* Flexbox container*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 100px;
}

.left-column {
    display: flex;
    align-items: center;
}

.icon {
    margin-right: 15px;
}

.icon i {
    font-size: 2em;
}

.contact-hours-wrapper {
    display: flex;
    text-align: justify;
}

.contact-hours-wrapper > .hours {
    font-family: 'Ubuntu Condensed', sans-serif;
}

.address-wrapper {
    font-family: 'Ubuntu Condensed', sans-serif;
    color:  rgb(238, 255, 0);
}


.left-column > .contact-hours-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
}

.nav-link a {
    font-family: 'Ubuntu Condensed', sans-serif;
    color:  white;
}

